.region-sidebar-first {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: .25rem;
}
nav#block-modulescontent {
  background-color: $bg-shaded;
  border: $border-width solid $primary-dark;
  border-radius: $border-radius;
  font-family: $header-font-family;

  h2 {
    color: $primary;
    font-size: 1.33rem;
    font-weight: bold;
    margin: 1rem 0;
    text-transform: uppercase;

    &[data-toggle="collapse"] {
      cursor: pointer;

      &:after {
        float: right;
        font-size: 2rem;
        line-height: .75;
      }
    }

    &[aria-expanded="false"]:after {
      content: "+";
    }

    &[aria-expanded="true"]:after {
      content: "-";
    }
  }

  ul.nav {
    li {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.3rem;
      list-style-type: none;
      margin-bottom: .75rem;

      a {
        color: $primary-dark;

        &[aria-expanded="true"]:after {
          border-top: 0;
          border-bottom: 0.3em solid;
        }

        &:hover {
          color: $primary;
        }

        &.dropdown-toggle {
          text-transform: uppercase;
          white-space: normal;
        }
      }
      ul {
        padding-inline-start: 0;

        li {
          font-weight: normal;
          margin-bottom: .25rem;

          a {
            font-size: 1rem;
            padding: .25rem;

            &.is-active {
              color: $active-link;

              &:hover {
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}

/* Force large-width sidebar menu show */
@media (min-width: 992px) {
  #modules-menu-wrapper:not(.show) {
    display: block;
  }
}

/* Help reduce line break re: toggle icons */
@media (max-width: 1199px) {
  #modules-menu-wrapper {
    .nav-link {
      font-size: .9rem;
    }
  }
}
