/* Header: branding & main nav */
header {
  nav {
    font-family: $header-font-family;

    .navbar-nav {
      /* Vertical alignment tweak: logo and nav text) */
      margin-bottom: .1rem;
      @media screen and (min-width: 1200px) {
        margin-bottom: .6rem;
      }

      .dropdown-menu {
        background: $primary;
        padding: 0;
        position: absolute;

        li {
          margin: .2rem;
        }

        .dropdown-item {
          color: $white;

          &:focus,
          &:hover,
          &:active {
            background: none;
            color: #fcfcfc;
            text-decoration: underline;
          }

          &.active {
            background: $bg-nav-active;
            color: $primary-dark;
            cursor: default;
          }
        }
      }

      .dropdown-menu-right {
        margin-top: .2rem;
        right: -.2rem;
      }

      .nav-link {
        color: $primary-dark;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-transform: uppercase;

        &.active,
        &:focus,
        &:hover {
          color: $active-link;
        }
      }

      /* Invert border carat */
      .show {
        .dropdown-toggle:after {
          border-top: 0;
          border-bottom: 0.3em solid;
        }
      }
    }
  }

  .navbar-brand {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;

    img {
      /* Upscale until better source img supplied */
      width: 255px;
    }
  }

  @media screen and (max-width: 575px) {
    .navbar-brand {
      padding-right: 0;
    }
  }

  .navbar {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
  }

  .region-nav-main {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    nav {
      .navbar-nav .nav-link {
        font-size: 1rem;
      }
    }
  }
}
