// Define new variables.
$bg-light: #fbf6ed;
$bg-nav-active: $bg-light;
$bg-nav-focus: #ffd8a8;
$primary: #ba6128;
$primary-dark: #4d371d;
$text-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$header-font-family: 'PT Sans', Arial, sans-serif;
