// Define new variables.
$bg-light: #fbf6ed;
$bg-focus: #ebf5ff;
$primary: #ba6128;
$primary-dark: #4d371d;
$text-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$header-font-family: 'PT Sans', Arial, sans-serif;
