.alert-status {
  a {
    border-bottom: 1px dotted $alert-link;
    color: $alert-link;

    &:hover {
      border-bottom-style: solid;
      text-decoration: none;
    }
  }
}
.alert {
  button {
    &.close {
      background: rgba(128, 128, 128, 0.1);
      opacity: 0.8;
    }
  }
}

.alert-preamble {
  background-color: $bg-shaded;
  font-size: 97%;
}
