.node-preview-container {
  background-color: $yellow;
  background-image: linear-gradient(45deg,
    rgba(255, 255, 255, .15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .15) 50%,
    rgba(255, 255, 255, .15) 75%,
    transparent 75%,
    transparent);
  background-size: 1rem 1rem;

  a.node-preview-backlink {
    color: $alert-link;
    padding: .25rem;

    &:before {
      content: '\00AB';
      display: inline-block;
      margin-right: .25rem;
    }
  }

  /* Hide View mode select */
  .form-item-view-mode {
    display: none;
  }
}
