.slick {

  & .slick__slider > div {
    border: $border-width solid $secondary;
    border-radius: $border-radius;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul.nav {
    font-family: Monospace;
    font-size: 1.25rem;
    margin-right: .25rem;
    margin-top: -2.25rem;
    margin-bottom: 1.5rem;

    li {
      background: none;
      border: none;
      padding: 0;
      margin: 0 .25rem;
      z-index: 501;

      &:focus {
        outline: none;
      }

      button {
        padding-right: .55em;
        padding-left: .55em;
        border-radius: 50%;
        color: $bg-nav-focus;
        background: $primary;
        border: 1px solid $secondary;

        &:focus {
          outline: none;
        }
      }

      &.slick-active {
        button {
          border-color: $bg-nav-focus;
          box-shadow: 0 0 .25rem .1rem $white;
          cursor: default;
        }
      }
    }
  }

  @media (pointer: coarse) {
    margin-bottom: 1rem;

    ul.nav {
      display: none!important;
    }
  }
}
