@media print {
  /* https://getbootstrap.com/docs/4.4/getting-started/browsers-devices/#printing */
  .container {
    width: auto;
  }

  /* Override Bootstrap blockquote */
  blockquote {
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding-left: .5rem;
  }

  /* Hide authenticated admin regions */
  #toolbar,
  .tabs,
  .shortcut-action {
    display: none;
  }

  /* Hide back to top button */
  #backtotop {
    display: none !important;
  }

  /* Set content width, unset floats and margins */
  .region-main-content {
    float: none !important;
    margin: 0;
    padding: 0;
    width: auto;
  }

  /* Set page margins */
  @page {
    margin: 2cm;
  }

  /* Set font to 16px, set background to white and font to black */
  body {
    background: #fff !important;
    color: #000;
    font: 16px Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
    margin-top: 26px;
  }
  h3, h4 {
    font-size: 18px;
    margin-top: 22px;
  }

  /* Links */
  a {
    background: transparent;
    color: #333;

    &:not(.btn) {
      text-decoration: none;
    }
  }

  a[href] {
    &:not([href^="#"]) {
      text-decoration: underline;

      &:after {
        content: "<" attr(href) ">";
        font-size: small;
        margin-left: .25rem;
        text-decoration: none;

        & > img {
          content: "";
        }
      }
    }
  }

  .biblio {
    a[href]:after {
      content: '';
      margin: 0;
    }
  }

  /* Tables */
  th {
    color: #000;
  }

  /* Footer Section */
  footer {
    background: none;

    .container {
      border-color: #000;
    }

    div.text-center {
      a {

        &:before {
          content: "UNB Libraries";
        }

        img {
          display: none;
        }
      }
    }
  }

  /* Page break suggestions */
  a {
    page-break-inside: avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table {
    page-break-inside: avoid;
  }
}
