/* Include custom sub theme. */
@import 'import';

body {
  background: $bg-light;
  font-family: $text-font-family;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-family: $header-font-family;
  font-weight: bold;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}
h3, .h3 {
  font-size: 1.25rem;
}
h4, .h4 {
  font-size: 1.1rem;
}
h5, .h5,
h6, .h6 {
  font-size: 1rem;
}

a {
  color: $primary;
  transition: all .25s ease-in;

  &:focus {
    box-shadow: none;
    outline: 1px dashed #d6d6d6;
    outline-offset: 1px;
  }

  &:focus,
  &:hover {
    background: inherit;
    color: $primary-dark;
    text-decoration: underline;
  }
}

/* Main content */
article {
  .text-formatted {
    h3 {
      margin-top: 2rem;
    }

    h2 {
      margin-top: 2rem;

      &:nth-child(1) {
        margin-top: .5rem;
      }

      & + h3 {
        margin-top: 1rem;
      }
    }
  }
}

header {
  background-color: $bg-shaded;
  border-bottom: 1px solid $primary-dark;
  box-shadow: 0 0 $border-width $primary-dark;
}

blockquote {
  margin: 1rem 3rem;
}

footer {
  background-color: $bg-shaded;
  border-top: 1px solid $primary-dark;
  box-shadow: 0 0 $border-width $primary-dark;
}

/* MISC */
.bg-dark-alt {
  background-color: $primary-dark;
}
.indent-lg {
  margin-left: 8rem;
}
.subtitle {
  display: block;
  font-size: smaller;
  font-style: italic;
  font-weight: normal;
}
p.biblio {
  text-indent: -1.5em;
  padding-left: 1.5em;
}