/* Include custom sub theme. */
@import 'import';

body {
  background: $bg-light;
  font-family: $text-font-family;
  font-size: 1rem;
}
h1, h2, h3 {
  font-family: $header-font-family;
}
h1 {
  color: $primary;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2,
.h2 {
  color: $primary;
  font-size: 1.5rem;
  font-weight: bold;
}
h3,
.h3 {
  color: $primary;
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  color: $primary;
  transition: all .25s ease-in;

  &:focus {
    box-shadow: none;
    outline: 1px dashed #d6d6d6;
    outline-offset: 1px;
  }

  &:focus,
  &:hover {
    background: inherit;
    color: $primary-dark;
    text-decoration: underline;
  }
}

/* Header: branding & main nav */
header {
  nav {
    font-family: $header-font-family;

    .navbar-nav {
      .dropdown-menu {
        background: $primary;
        padding: 0;
        position: absolute;

        li {
          margin: .2rem;
        }

        .dropdown-item {
          color: $white;

          &:focus,
          &:active {
            background: $bg-focus;
            color: $primary-dark;
          }

          &.active {
            background: #fdfaf7;
            cursor: default;
          }

          &.active,
          &:hover {
            color: $primary-dark;
          }
        }
      }

      .dropdown-menu-right {
        margin-top: .2rem;
        right: -.2rem;
      }

      .nav-link {
        color: $primary-dark;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-transform: uppercase;

        &.active,
        &:focus,
        &:hover {
          color: $primary;
        }
      }

      /* Invert border carat */
      .show {
        .dropdown-toggle::after {
          border-top: 0;
          border-bottom: 0.3em solid;
        }
      }
    }
  }

  .navbar-brand {
    margin-right: 0;
    padding-right: 0;
  }

  .navbar {
    padding-left: 0;
  }

  .region-nav-main {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    nav {
      .navbar-nav .nav-link {
        font-size: 1.1rem;
      }
    }
  }
}

/* Main content */
.region-content {
  p + h2 {
    margin-top: 2rem;
  }
}
